body > * {
    border: 1px solid #000000;
    background: #fef6e4;
}

/* * {
    background: #00000011;
    background-color: #00000011;
} */

.todo > * {
    border: 1px solid black;
}

/* production start */
* {
    box-sizing: border-box;
    
}

div{
    font-family: var(--paragraph-font);
}

:root{
    --main-color: #f3d2c1;
    --highlight-color: #fef6e4;
    --secondary-color: #8bd3dd;
    --tertiary-color: #f582ae;
    --button-color: #f582ae;
    --paragraph-text-color: #172c66;
    --headline-text-color: #001858;
    --button-text-color: #001858;  
    --header-font: 'proxima nova bold';
    --paragraph-font: 'proxima nova regular'
}

h1, h2, h3, h4, h5 {
    font-family: var(--header-font);
}

h1 {
    font-size: 2rem;
}

p {
    font-family: var(--paragraph-font);
}

button {
    font-family: var(--paragraph-font);
    cursor:pointer;
}

body {
    margin: 0;
    height: 100vh;
    display: grid;
    grid-template-rows: 1.5fr 1fr 9fr;
    grid-template-columns: minmax(220px,1fr) 5fr;
    grid-template-areas: 
    "banner banner"
    "sidebar header"
    "sidebar content";
}

.banner {
    grid-area: banner;
    background-color: var(--main-color);
}

.header {
    grid-area: header;
    background: var(--highlight-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    -webkit-user-select: none;       
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
}

.header button {
    padding: .5em;
    margin-right: 10%;
}

.currentTab{
    display: grid;
    place-items: center;
    grid-auto-flow: column;
    width: max-content;
    padding: 1em;
}

.currentTab img {
    width: 75px;
    margin-right: 1em;
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;}

.sidebar {
    grid-area: sidebar;
    background: var(--highlight-color);
}

.content {
    grid-area: content;
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: .5em;
}

.todo {
    border: 1px solid black;
    border-radius: .6em;
    display: grid;
    grid-template-columns: 5% 1fr;
    grid-template-rows: min-content max-content min-content;
    grid-template-areas: 
    "done title"
    ". description"
    ". meta";
    cursor: pointer;
    /* caret-color: transparent; */
    -webkit-user-select: none;       
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
}

.title:focus{
    outline: none;
}

.done{
    grid-area: done;
    display: grid;
    align-items: center;
    min-width: min-content;
}

.title{
    grid-area: title;
    display: flex;
    align-items: center;
    padding: .5em .5em;
    min-height: 2em;
}

.description{
    grid-area: description;
    display: none;
    align-items: center;
    padding: 1em .5em;
}

.meta{
    grid-area: meta;
    display: none;
    justify-content: space-around;
    padding: .3em;
    min-height: min-content;
}

.show{
    display: flex;
}