/* production start */
* {
    box-sizing: border-box;
}

div{
    font-family: var(--paragraph-font);
}

:root{
    --main-color: #f3d2c1;
    --highlight-color: #fef6e4;
    --secondary-color: #8bd3dd;
    --tertiary-color: #f582ae;
    --button-color: #f582ae;
    --paragraph-text-color: #172c66;
    --headline-text-color: #001858;
    --button-text-color: #001858;  
    --stroke: #001858;
    --header-font: 'proxima nova bold';
    --paragraph-font: 'proxima nova regular'
}

h1, h2, h3, h4, h5 {
    font-family: var(--header-font);
}

h1 {
    font-size: 2rem;
}

p {
    font-family: var(--paragraph-font);
}

button {
    font-family: var(--paragraph-font);
    cursor: pointer;
    background: var(--button-color);
    border-radius: .3em;
    padding: .5em 1em;
    border: 2px solid var(--stroke);
    color: var(--button-text-color);
    font-size: 1rem;
}

img {    
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

body {
    margin: 0;
    height: 100vh;
    display: grid;
    grid-template-rows: 90px 1fr 9fr;
    grid-template-columns: minmax(220px,1fr) 5fr;
    grid-template-areas: 
    "banner banner"
    "sidebar header"
    "sidebar content";
}

.banner {
    grid-area: banner;
    background-color: var(--main-color);
    background: var(high);
    display: flex;
    align-items: center;
    /* box-shadow: #00185829 0px 2px 8px 0px; */
    z-index: 1;
    border-bottom: 2px solid var(--stroke);
    display: grid;
}

.banner img {
    height: 75px;
    margin-left: 1em;
    margin-top: .5em;
    margin-bottom: .5em;
    cursor: pointer;
}

.header {
    grid-area: header;
    background: var(--highlight-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    -webkit-user-select: none;       
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
    color: var(--headline-text-color);
}

.header button {
    margin-right: 1em;
    font-size: 1rem;
}

.currentTab{
    display: grid;
    place-items: center;
    grid-auto-flow: column;
    width: max-content;
    padding: 1em;
}

.currentTab img {
    width: 50px;
    margin-right: .5em;
}

.sidebar {
    grid-area: sidebar;
    background: var(--highlight-color);
    border-right: 2px solid var(--stroke);
    background-color: var(--secondary-color);
}

nav {
    margin-top: 1em;
    font-size: 1.3rem;
    color: var(--headline-text-color);
}

nav ul{
    display: flex;
    flex-direction: column;
}

nav ul div{
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: .4em 0;
    font-family: var(--header-font);
}

nav ul div:hover{
    display: flex;
    align-items: center;
    background: var(--highlight-color);
}

nav ul div:-moz-drag-over{
    display: flex;
    align-items: center;
    background: var(--highlight-color);
}

nav img{
    width: 30px;
    margin-right: .5em;
    margin-left: 1em;
}

.content {
    grid-area: content;
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: .5em 1em;
    background: var(--highlight-color);
}

.todo {
    border: 2px solid var(--stroke);
    border-radius: .6em;
    display: grid;
    grid-template-columns: 30px 1fr;
    grid-template-rows: min-content max-content min-content;
    grid-template-areas: 
    "done title"
    ". description"
    ". meta";
    cursor: pointer;
    -webkit-user-select: none;       
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
    background: var(--main-color);
    box-shadow: #00185829 0px 2px 8px 0px;
    padding: .5em;
    z-index: 1;
    transition: all .8s cubic-bezier(0.42, 0, 0.15, 1.4);
}

.done{
    grid-area: done;
    display: grid;
    align-items: center;
    min-width: min-content;
    position: absolute;
    padding:.2em;
}

.done input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid var(--stroke);
    border-radius: 0.15em;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
    cursor: pointer!important;
}

.done input[type="checkbox"]:checked{
    background: var(--highlight-color);

}

.done input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--stroke);
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

.done input[type="checkbox"]:checked::before {
    transform: scale(1);
    transform-origin: bottom left;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

input[type="checkbox"][disabled] {
    background: #00185841;
    cursor: pointer;
}

textarea{
    line-height: 1.2em;
}

.title{
    grid-area: title;
    display: flex;
    align-items: center;
    padding: .3em .5em ;
    /* height: min-content; */
    position: relative;
}

.title textarea {
    background: transparent;
    width: 100%;
    border: none;
    outline: none;
    font-family: var(--paragraph-font);
    font-size: 1rem;  
    resize: none;  
    color: var(--paragraph-text-color);
    overflow: hidden;
    transition: height .8s cubic-bezier(0.42, 0, 0.15, 1.1);
    display: grid;
    align-items: center;
    height: 1.4em;
}

.title textarea::placeholder{
    color: #172c6681;
}

.nowrap{
        height: 1.4em !important;
        white-space: pre;
        overflow-wrap: normal;
        overflow-x: scroll;
        text-overflow: ellipsis;

}

/* 
.title {
    color: var(--paragraph-text-color);
    height: auto;
    font-size: 1rem;
    background: transparent;
    width: 100%;
    border: none;
    outline: none;
    font-family: var(--paragraph-font);
    resize: none;  
    font-size: 1rem;  
    cursor: pointer;
}

.title input[type="text"]::placeholder{
    color: #172c6681;
} */

.title img {
    position: absolute;
    right:0;
    margin-right: 1em;
    height: 1.3em;
    display: none;
}

.days-left{
    width: max-content;
    position: absolute;
    padding: .5em;
    right: 0;
    margin-right: 1em;
    background: #fef6e4dd;
    opacity: 1;
    font-family: var(--header-font);
    border-radius: .3em;
    padding: .5em 1em;
    /* border: 1px solid #001858aa; */
    color: #001858dd;
}

.days-left:empty{
    display: none;
}

.todo:hover .days-left{
    display: none;
}

button.restore {
    display: none;
    right: 0;
    position: absolute;
    margin-right: 1em;
    width: max-content;
    font-size: .9rem;
    border: 1px solid var(--stroke);
    background: var(--button-color);
    color: var(--button-text-color);
    opacity: 1;
    font-family: var(--header-font);

}

.todo:hover img{
    display: block;
}

.description{
    grid-area: description;
    display: none;
    align-items: center;
    padding: .2em .5em;
}

.description textarea {
    background: transparent;
    width: 100%;
    border: none;
    outline: none;
    font-family: var(--paragraph-font);
    font-size: 1rem;  
    resize: none;  
    color: var(--paragraph-text-color);
    overflow: hidden;
    transition: height .8s cubic-bezier(0.42, 0, 0.15, 1.4);
    min-height: 1px;
}

.description textarea::placeholder{
    color: #172c6681;
}

.meta{
    grid-area: meta;
    display: none;
    justify-content: space-around;
    padding: .5em;
    min-height: min-content;
}

.todo input[type|='date']{
    background: var(--button-color);
    color: var(--button-text-color);
    padding: .2em .5em;
    font: var(--paragraph-font);
    border: none;
    border-radius: .2em;
    border: 2px solid var(--stroke);
    font-size: 1rem;
    cursor: pointer;
}

input[type|='date']:focus{
    outline: none;
}

input::-webkit-datetime-edit-day-field:focus,
input::-webkit-datetime-edit-month-field:focus,
input::-webkit-datetime-edit-year-field:focus {
    background-color: var(--highlight-color);
    outline: none;
    cursor: pointer;
}

.show{
    display: flex;
}

select {
    background-color: var(--highlight-color);
    border: 2px solid var(--stroke);
    border-radius: 4px;
    display: inline-block;
    font: inherit;
    line-height: 1em;
    padding: 0.5em 3.5em 0.5em 1em;  
    margin: 0;      
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
  }
  
  select.priority {
    background-image:
      linear-gradient(45deg, transparent 50%, var(--stroke) 50%),
      linear-gradient(135deg, var(--stroke) 50%, transparent 50%),
      linear-gradient(to right, var(--secondary-color), var(--secondary-color));
    background-position:
      calc(100% - 20px) calc(1em + 2px),
      calc(100% - 15px) calc(1em + 2px),
      100% 0;
    background-size:
      5px 5px,
      5px 5px,
      2.5em 2.5em;
    background-repeat: no-repeat;
  }

  select.priority:focus{
    outline: none;
  }

  .zoom {
    animation: zoom forwards 1s ease-out 1;
  }

  .slide-out{
    animation: slideAway forwards 1s ease-in 1;
  }

  @keyframes zoom { 
    0% {
      transform: scale(1);
      opacity: 1;
    }
    50% {
      transform: scale(0);
      opacity: 0;
    }

    75%{
        position: fixed;
    }
    100% {
      width: 0;
      transform: scale(0);
    }
  }

  @keyframes slideAway { 
    0% {
    }

    100% {
    transform: translateX(800%);    
    opacity: 50;
}
  }

  .trashed {
    background: #172c6622;
  }

 .todo.trashed, .todo.trashed *:not(button) {
    cursor: not-allowed;
  }

  .completed{
    background:#8bd3ddaa;
  }
/* 
  .completed, .completed *:not(.title) {
    cursor:default !important;
  } */


  .drop{
    background: var(--highlight-color);
  }

  .droppable *{
    pointer-events: none;
  }

